<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div>@Html.ActionLink("PerfumeStore", "Index", "Admin", new { area = "Admin" }, new { @class = "navbar-brand" })</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", new { Controller = "Home", area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">
                        @Html.ActionLink("Show Products", "ShowProducts", new { Controller = "Home", area = "Admin" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">@Html.ActionLink("Add New Product", "Create", new { Controller = "Home", area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Update Product", "Update", new { Controller = "Home", area = "Admin" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Manage Admins", "Manage", new { Controller = "Home", area = "Admin" }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>